@model Alcaldia.Models.Vacaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vacaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnidadAdministrativa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadAdministrativa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoFuncional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoFuncional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dirigido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirigido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRetorna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRetorna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Cedula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdVacaciones }) |
    @Html.ActionLink("Back to List", "Index")
</p>
