@model Alcaldia.Models.Subcidio

@{
    ViewBag.Title = "Create";
}

<h2>Ingresar SUbcidio</h2>


@using (Html.BeginForm("Create", "Subcidios", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Subcidio</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.Inss, "Inss", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Inss", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Inss, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Inss, "Inss", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("Inss", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.TextBox("Inss", null, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Inss, "", new { @class = "text-danger" })
                <button type="button" onclick="location.href = 'http://localhost:51466/Empleadoes/ISubcidio'" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search "></span></button>
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Chasis, "Chasis", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Cedula", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Cedula", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.Chasis, "Chasis", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Nombre Completo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("NombreCompleto", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.IdTipoSubcido, "Tipo Subcido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdTipoSubcido", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdTipoSubcido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagenSubcidio,"Imagen" ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ImagenSubcidio, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBox("img", null, new { type = "file", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImagenSubcidio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaIniciosubcidio, "Fecha subcidio",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaIniciosubcidio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaIniciosubcidio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dias, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dias, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Estado)
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@if (ViewData["MSJ1"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal('@ViewData["MSJ1"]');
        };
    </script>
}