@model IEnumerable<Alcaldia.Models.Subcidio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImagenSubcidio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIniciosubcidio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSubcidio.Subcidio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImagenSubcidio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIniciosubcidio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSubcidio.Subcidio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSubcidio }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSubcidio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSubcidio })
        </td>
    </tr>
}

</table>
