@model Alcaldia.Models.Constancias

@{
    ViewBag.Title = "Create";
}

<h2>Registrar Constancia</h2>


@*@using (Html.BeginForm())*@ 
@using (Html.BeginForm("Create","Constancias",FormMethod.Post,new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Constancias</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Inss, "Inss", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("Inss", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.TextBox("Inss", null, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Inss, "", new { @class = "text-danger" })
                <button type="button" onclick="location.href = 'http://localhost:51466/Empleadoes/IConstancia'" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search "></span></button>
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Chasis, "Chasis", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Cedula",new { @class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBox("Cedula", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Chasis, "Chasis", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Nombre Completo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("NombreCompleto", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Fechaconstancias, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Fecha de Constancia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fechaconstancias, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fechaconstancias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Horaconstancias, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Hora de Constancia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Horaconstancias, new { htmlAttributes = new { @class = "form-control",type="time" ,id = "time" } })
                @Html.ValidationMessageFor(model => model.Horaconstancias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ServicioMedico, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Servicio Medico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServicioMedico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServicioMedico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Especialidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Especialidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Especialidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumeroConstancia, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("N° de Contancias", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroConstancia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroConstancia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Escaner, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Imagen de Constancias", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Escaner, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBox("img", null, new { type = "file", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Escaner, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Estado)
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ingresar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@if (ViewData["MSJ1"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal('@ViewData["MSJ1"]');
        };
    </script>
}
